DB_URL=jdbc:mysql://mysql:3306/saferide_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change_me
SERVER_PORT=8080
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
SECURITY_LOG_LEVEL=INFO